<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Just for bootstrap -->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <!-- Styles of some blocks !-->
        {% load static %}
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'frontend_server/components/custom_header/custom_header.css' %}">
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'frontend_server/components/custom_footer/custom_footer.css' %}">
        <link
                rel="stylesheet"
                type="text/css"
                href="{% static 'frontend_server/components/main/main.css' %}">
        <link
                rel="stylesheet"
                type="text/css"
                href="{% static 'frontend_server/components/sign_form/sign_form.css' %}">

        {% load static %}
        <meta charset="UTF-8">
        <title>Wannait</title>
        <link rel="icon" type="image/png" href='{% static "frontend_server/images/logo_transp.png" %}'/>
    </head>

    <body>
         <nav class="custom-header navbar navbar-dark bg-primary d-flex justify-content-end">
            <span class="navbar-brand h1 custom-brand">
                    <a style="color: white" href="{% url 'frontend_server:index' %}">Wannait</a>
            </span>
        </nav>

        <div class="main d-flex justify-content-center align-content-center">
            {% load crispy_forms_tags %}
            <div class="sign-form" style="max-width: 250px">
                <div class="sign-form__header" style="margin-bottom: 20px">
                    <a class="sign-form__header__choice-active disabled" style="width: inherit"
                       href="#">Password recovery</a>
                </div>

                <form method="post">
                    {% csrf_token %}
                    <a >Input new password:</a>
                    <div  style="margin-top: 10px">
                        <input type='password' class="form-control" style="margin-top: 10px"
                               name='password1' id="password"
                               placeholder="New password" required/>
                        <input type='password' class="form-control"  style="margin-top: 10px"
                               name='password2' id="confirm_password"
                               placeholder="Repeat" required/>
                    </div>
                    <div class="sign-form__buttons" style="margin-top: 15px">
                        <button type="submit" class="sign-form__buttons__ok btn btn-primary">Confirm</button>
                    </div>
                </form>
            </div>
        </div>

        <nav class="custom-footer navbar navbar-expand navbar-dark bg-primary"></nav>
        <nav class="custom-footer navbar navbar-expand navbar-dark bg-primary fixed-bottom dflex justify-content-center">
            <a class="navbar-brand" href="http://t.me/WannaitBot">Link to owner</a>
            {% load static %}
            <img src="{% static "frontend_server/images/tmdb.svg" %}" style="height:100%;"/>
        </nav>

        <!-- Just for bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
    </body>

    <script>
        var password = document.getElementById("password");
        var confirm_password = document.getElementById("confirm_password");

        function validatePassword(){
            if(password.value !== confirm_password.value) {
                confirm_password.setCustomValidity("Passwords don't match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>

</html>