<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wannit</title>
</head>
<body>
    В опастности смертельной,
    В сомненье безраздельном,
    Мы бегаем кругами,
    И дрыгаем руками.
</body>
</html>
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Just for bootstrap -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <!-- Styles of some blocks !-->
    {% load static %}
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'frontend_server/components/custom_brand/custom_brand.css' %}">
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'frontend_server/components/custom_footer/custom_footer.css' %}">
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'frontend_server/components/custom_header/custom_header.css' %}">
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'frontend_server/components/main/main.css' %}">
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'frontend_server/components/sign_form/sign_form.css' %}">

    {% load static %}
    <meta charset="UTF-8">
    <title>Wannait</title>
    <link rel="icon" type="image/png" href='{% static "frontend_server/images/logo_transp.png" %}'/>
</head>

<body>
    <nav class="custom-header navbar navbar-dark bg-primary d-flex justify-content-end">
        <span class="navbar-brand h1 custom-brand">
            <a style="color: white" href="{% url 'frontend_server:index' %}">Wannait</a>
        </span>
    </nav>

    <div class="main d-flex justify-content-center align-content-center">
        {% load crispy_forms_tags %}
        <div class="sign-form" style="max-width: 250px">
            <a type="text">A recovery link has been sent. Please, check your email.</a>
            <a class="sign-form__header__choice" style="width: inherit"
               href="{% url 'frontend_server:signin' %}">Try to sigh in again</a>
             <a type="text">or</a>
            <a class="sign-form__header__choice" style="width: inherit"
               href="{% url 'frontend_server:index' %}">Go back to main page.</a>
        </div>
    </div>

    <nav class="custom-footer navbar navbar-expand navbar-dark bg-primary"></nav>
    <nav class="custom-footer navbar navbar-expand navbar-dark bg-primary fixed-bottom dflex justify-content-center">
        <a class="navbar-brand" href="http://t.me/WannaitBot">Link to owner</a>
        {% load static %}
        <img src="{% static "frontend_server/images/tmdb.svg" %}" style="height:100%;"/>
    </nav>

    </div>
</body>
</html>